$color-primario: #6078ea;
$color-secundario: #17ead9;
$color-terceario: #faf8f8;
$color-fondo: #4b4848;

$fuente-t: 'Orbitron', Verdana, Geneva, Tahoma, sans-serif;
$fuente-c: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;

/*menú hamburguesa que desaparece con responsive*/